---
import {
  linkButton,
  nonRoundButton,
  rectangleButton,
  roundButton,
  squareButton,
} from "./Button.css";

export interface Props {
  href: string;
  ariaLabel?: string;
  round?: boolean;
  square?: boolean;
}

const { ariaLabel, href, round, square } = Astro.props;

const classList = [linkButton];
classList.push(round ? roundButton : nonRoundButton);
classList.push(square ? squareButton : rectangleButton);
---

<a aria-label={ariaLabel} class:list={classList} href={href}>
  <slot />
</a>
