---
import { introContainer, introduction, name, tagline } from "./Introduction.css";
---

<div class={introContainer}>
  <p class={introduction}>Hi, I'm</p>
  <h1 class={name}>Blake Zimmerman</h1>
  <p class={tagline}>I build things to make the web a better experience.</p>
</div>
